<div class="container">
  <div class="page">
    <div class="page-container">
      <div class="page-title"> Crypto Users </div>
      <form class="form" [formGroup]="form">
        <label for="nickname">Nickname</label> <br>
        <input type="text" name="nickname" id="nickname" formControlName="nickname"> <br>
        <div class="error-tooltip">
          <li *ngIf="usernameAlreadExists() && form.controls['nickname'].touched">The username has been already chosen.</li>
        </div> <br>
        <label for="nickname">Email</label> <br>
        <input type="text" name="email" id="email" formControlName="email"> <br>
        <div class="error-tooltip">
          <li *ngIf="emailAlreadExists() && form.controls['email'].touched">The email has been already chosen.</li>
          <li *ngIf="form.controls['email'].invalid && form.controls['email'].touched && form.controls['email'].dirty">The email address is invalid.</li>
        </div> <br>
        <label for="nickname">IP Address</label> <br>
        <input type="text" name="ipAddress" id="ipAddress" formControlName="ipAddress"> <br>
        <div class="error-tooltip">
          <li *ngIf="form.controls['ipAddress'].invalid && form.controls['ipAddress'].touched && form.controls['ipAddress'].dirty">The IP Address is invalid.</li>
        </div> <br>
        <button class="add-button" (click)="addUser()" [disabled]="!form.valid || usernameAlreadExists() || emailAlreadExists()">Add User</button>
      </form>
      <div class="table-container">
        <table>
          <tr>
            <th (click)="sorByDate()">Date</th>
            <th (click)="sortByNickname()">Nickname</th>
            <th (click)="sortByEmail()">Email</th>
            <th>IP Address</th>
            <th><button class="del-button" (click)="eraseList()" *ngIf="userList.length > 0">Erase List</button></th>
          </tr>
          <tr *ngFor="let user of userList">
            <td>{{user.date}}</td>
            <td>{{user.nickname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.ipAddress}}</td>
            <td><button class="del-button" (click)="deleteUser(user)">X</button> </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>