@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,700&display=swap');
body {
  background-color: #f9fbfd;
  font-family: 'Poppins', sans-serif;
}

label {
  font-size: 14px;
  color: #b8c3da;
  font-weight: 300;
}

input {
  border: 0px;
  border-bottom: 1px solid #cfd5e1;
  color: #425780;
  font-size: 16px;
  height: 25px;
  width: 200px;
  padding: 3px;
}

input.has-error {
  border-bottom: 1px solid #e33f78;
}

button {
  font-size: 14px;
  font-weight: 500;
  border: 0px;
  padding: 5px 10px;
  border-radius: 50px;
}

button:disabled, button:disabled:hover {
  background-color: #f9fbfd;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
}

form {
  margin-top: 20px;
}

.add-button {
  width: 100px;
  height: 40px;
  background-color: #ffffff;
  color: #00e1bb;
  border: 1px solid #00e1bb;
}

.add-button:hover {
  width: 100px;
  height: 40px;
  background-color: #00e1bb;
  color: #ffffff;
  border: 1px solid #00e1bb;
}

th>.del-button {
  font-weight: 800;
  font-size: 16px;
  border: 1px solid #a4b4d3;
}

.del-button:hover {
  background-color: #96a7ca;
  color: white;
}

.del-button {
  width: auto;
  height: inherit;
  padding: 5px 10px;
  background-color: #f6faff;
  color: #96a7ca;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child {
  border-radius: 0 10px 10px 0;
  text-align: center;
}

tr, th {
  color: #96a7ca;
  text-align: left;
}

tr {
  font-size: 16px;
}

th, td {
  padding: 5px 10px;
}

td {
  font-size: 14px;
  color: #425780;
}

td:last-child {
  text-align: center;
}

th {
  background-color: #f6faff;
}

.table-container {
  width: 100%;
  border: 2px solid #f6faff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.page-container {
  width: 70%;
  margin: auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 23px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 23px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 23px -15px rgba(0, 0, 0, 0.75);
}

.page-title {
  font-size: 28px;
  color: #1b3466;
  font-weight: 800;
}

.error-tooltip {
  background-color: #fcebf1;
  color: #ea6b97;
  font-size: 14px;
  margin-top: 5px;
}

.error-tooltip>li {
  padding: 5px
}

*:focus {
  outline: none;
}

@media only screen and (max-width: 920px)  {
  .page-container{
    width: 85%;
  }

  table{
    overflow: auto;
  }
}